/*------GENERAL------*/
body {
	background-color: #dee4ef;
}
button {
	height: 50px;
	width: 100px;
	background-color: #36425b;
	color: #ffffff;
}
button:hover {
	background-color: transparent;
	color: #000000;
	border: 1px solid #000000;
	cursor: pointer;
	transition: all .3s;
}

/*------HEADER------*/
h1 {
	text-align: center;
	color: #ffffff;
	font-size: 5em;
}
#banner {
	background-color: #36425b;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*------INSTRUCTIONS------*/
p {
	text-align: center;
	max-width: 500px;
	margin: 40px auto 80px auto;
}

/*------GAME HEADER------*/
#game-header {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	min-height: 125px;
}
h3 {
	font-size: 2em;
	text-align: center;
}
#current-player {
	color: #e04831;
}

/*------GAME BOARD------*/
#game-board {
	width: 600px;
	height: 600px;
	margin: 0px auto 60px auto;
}
.cell {
	width: 200px;
	height: 200px;
	border: 1px solid #000000;
	display: inline-block;
	background-size: contain;
	background-position: center;
}
.row {
	height: 200px;
	width: 600px;
	display: flex;
}
.player-0 {
	background-image: none;
}
.player-X {
	background-image: url("/images/ttt_x.png");
}
.player-O {
	background-image: url("/images/ttt_o.png");
}

/*------MODAL------*/
#game-end-modal {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
}
#game-end-modal.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
#modal-content-container {
	height: 500px;
	width: 500px;
	background-color: #36425b;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#modal-button:hover {
	background-color: #ffffff;
	border: 0px;
}

/*------GAME FOOTER------*/
#game-footer {
	min-height: 170px;
}
#replays-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.replay-button {
	margin-top: 20px;
}
