/*------GENERAL------*/
body {
	background-color: #dee4ef;
}

/*------HEADER------*/
h1 {
	text-align: center;
	color: #ffffff;
	font-size: 5em;
}
#banner {
	background-color: #36425b;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*------INSTRUCTIONS------*/
p {
	text-align: center;
	max-width: 500px;
	margin: 40px auto 80px auto;
}

/*------GAME HEADER------*/
#game-header {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
h3 {
	font-size: 2em;
}
#current-player {
	color: #e04831;
}

/*------GAME BOARD------*/
#game-board {
	width: 600px;
	height: 600px;
	margin: 60px auto;
}
.cell {
	width: 200px;
	height: 200px;
	border: 1px solid #000000;
	display: inline-block;
	background-size: contain;
	background-position: center;
}
.row {
	height: 200px;
	width: 600px;
	display: flex;
}
.player-0 {
	background-image: none;
}
.player-1 {
	background-image: url("/images/ttt_x.png");
}
.player-2 {
	background-image: url("/images/ttt_o.png");
}
