<h1>Tic-Tac-Toe</h1>
<p>Welcome to Tic-Tac-Toe! This is a two player game. Each player takes turns marking X or O in one of the boxes on the game board until one player has three in a row (horizontally, vertically, or diagonally) or until there are no more availalbe moves. Good luck!</p>

<div id='game-board'>
<div class='row'>
	<div class='cell' id='0-0'></div>
	<div class='cell' id='0-1'></div>
	<div class='cell' id='0-2'></div>
</div>
<div class='row'>
	<div class='cell' id='1-0'></div>
	<div class='cell' id='1-1'></div>
	<div class='cell' id='1-2'></div>
</div>
<div class='row'>
	<div class='cell' id='2-0'></div>
	<div class='cell' id='2-1'></div>
	<div class='cell' id='2-2'></div>
</div>
</div>
